*
  box-sizing border-box
  color #333
  font-family monospace

body
  max-width 923px
  margin auto

header
  text-decoration italic

.ReactModal__Overlay
  background rgba(100, 100, 100, 0.5)

.ReactModal__Content
  background white !important
  border 5px solid #0a6955 !important
  width 500px !important
  left 50% !important
  margin-left -250px !important
  min-height 620px

  h1
    width 400px
    margin auto

  svg
    margin auto
    display block

  p
    width 400px
    margin 20px auto
    white-space pre-wrap
    word-wrap break-word
    word-break break-all

#pin
  display flex
  flex-direction column

  label
    display flex
    margin 3px
    align-items center

    span
      padding 2px 7px

    input
      flex-grow 3
      font-size 115%

  button
    margin 9px 20%
    padding 12px 0
    font-size 115%

footer
  margin-top 200px
