*
  box-sizing border-box
  color #333
  font-family monospace

html
  margin 0
  padding 0
  background-color #fff3ef

body
  margin 15px 1%
  padding 10px

a, button
  cursor pointer

header
  text-decoration italic

#invoice
  & > *
    width 400px
    margin auto

  h1.paid
    display block
    text-align center
    font-size 180%
    padding 80px

  svg
    display block

  p
    margin 20px auto
    white-space pre-wrap
    word-wrap break-word
    word-break break-all

  button
    display block
    margin-bottom 30px

#pin
  max-width 500px
  margin auto
  display flex
  flex-direction column

  label
    display flex
    margin 3px
    align-items center

    span
      padding 2px 7px

    input
      flex-grow 3
      font-size 115%
      padding 9px

    input + *
      margin-left 6px

  .error
    color red

  button
    margin 9px 20%
    padding 12px 0
    font-size 115%

#objects
  display flex
  flex-wrap wrap

  .paid-waiting
    background-color white
    border dotted 5px black

  .object
    margin 15px
    padding 9px
    background-color white
    box-shadow 3px 3px 5px #bababa
    border-radius 8px

    &, h3
      white-space pre-wrap
      word-break break-all
      word-wrap break-word

    table
      width 100%

    ul, li
      padding 0
      margin 0

    .footer
      display flex

      a, button
        margin 15px
        display block
        flex auto

      a
        line-height 2em

footer
  margin-top 200px
