*
  box-sizing border-box

body
  max-width 923px
  margin auto

header
  text-decoration italic

#pin
  display flex
  flex-direction column

  label
    display flex
    margin 3px
    align-items center

    span
      padding 2px 7px

    input
      flex-grow 3
      font-size 115%

  button
    margin 9px 20%
    padding 12px 0
    font-size 115%

footer
  margin-top 200px
